:root {
  --color-accent: #cc0087;
  --color-accent-light: #e70098;
  --color-accent-muted: #{rgba(#cc0087, 0.6)};
  --color-text: #142850;
  --color-text-light: #{rgba(#27496d, 0.8)};
  --color-text-muted: #{rgba(#27496d, 0.4)};
  --color-lines: #{rgba(#27496d, 0.1)};
  --color-result-hover: #{rgba(#cc0087, 0.05)};
  --color-dropzone: rgba(255, 255, 255, 0.95);

  --font-size-title: 4.8rem;
  --line-height-title: 6.4rem;
  --font-size-lead: 2rem;
  --line-height-lead: 3.2rem;
  --font-size-normal: 1.5rem;
  --line-height-normal: 3.2rem;

  --ease-in-out: cubic-bezier(0.86, 0, 0.07, 1);

  font-size: 62.5%;

  @media (max-width: 32em) {
    --font-size-lead: 1.6rem;
    --font-size-normal: 1.4rem;
  }
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./assets/fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 700;
  src: url('./assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-weight: 800;
  src: url('./assets/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
}

::selection {
  background-color: var(--color-accent);
  color: #fff;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-image: linear-gradient(
    to top,
    var(--color-lines) 0.1rem,
    transparent 0.05rem
  );
  background-position: 0 0;
  background-repeat: repeat;
  background-size: var(--line-height-normal) var(--line-height-normal);
  box-sizing: border-box;
  color: var(--color-text-light);
  font: var(--font-size-normal) / var(--line-height-normal) 'JetBrains Mono';
  height: 100%;
  margin: 0;
  overflow-x: hidden;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

strong {
  color: var(--color-text);
  font-weight: 700;
}
